src/main/resources/elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="elements.xsd" targetNamespace="elements.xsd">
  <xs:element name="elements" type="elementsType"/>
  <xs:complexType name="elementsType">
    <xs:sequence>
      <xs:element type="requestType" name="request"/>
      <xs:element type="xs:string" name="parameter"/>
      <xs:element type="xs:string" name="body"/>
      <xs:element type="xs:string" name="response"/>
      <xs:element type="errorType" name="error"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestType">
    <xs:sequence>
      <xs:element type="xs:string" name="parameter"/>
      <xs:element type="xs:string" name="body"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="errorType">
    <xs:sequence>
      <xs:element type="xs:string" name="errorcode"/>
      <xs:element type="xs:string" name="errordescription"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>